<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Movie shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="navigateToHome()">Home</a>
      </li>
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="/login">Login</a>-->
      <!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToMovies()">Movies</a>
      </li>
    </ul>

  </div>
</nav>
