<div class="card card-body">
  <p>
    <strong>Reviews</strong>
  </p>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let review of reviews">
      {{review.review}}
    </li>
  </ul>

</div>

<form [formGroup]="reviewForm" >
  <div class="form-group">
    <label for="review">Review</label>
    <input type="text" class="form-control" id="review" placeholder="Review text" formControlName="review" required >
    <div class="alert alert-danger" *ngIf="reviewForm.controls['review'].invalid && reviewForm.controls['review'].dirty" >Review cannot be blank</div>

  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="number" class="form-control" id="rating" placeholder="10" formControlName="rating" required>
    <div class="alert alert-danger" *ngIf="reviewForm.controls['rating'].invalid && reviewForm.controls['rating'].dirty" >Rating must be filled</div>
  </div>
  <a class="btn btn-warning mb-3" (click)="onSubmit()">Add review</a>
</form>
